body{
    padding: 0;
    margin: 0;
    background-color: rgb(97, 75, 114);
  }
 
*{
    box-sizing: border-box;
} 
@media screen and (min-width: 700px){
    /*header start */
    .head{
        background-color: rgb(223, 210, 195);
        position: relative;
        width: 100%;
        height: 150px;
    
    
    }
    #hi{
      
    text-align: left;
        background-color: antiquewhite;
    }
    #hi img{
        position: absolute;
        width: 50px;
        height: 50px;
       
     }
     #hi img:hover{
      transform: rotate(360deg);              
      transition: 3s;
   }
     #ht{
        position: absolute;
        top: 0px;
        left: 500px;
        
        
        
         
     }
     #ht h1{
     
     
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-style: italic;
        border: 2px dotted blueviolet;
        border-radius:15px;
       
     }
    #Hl{
        position: absolute;
       display: flex;
       flex-direction: row;
        width: 80px;
        margin: 10px;
        top: 0;
        right:0;
        position: fixed;
       width: 220px;
       background-color: rgb(34, 41, 54);
       border-radius: 9px;
       
    }
     
    #Hl a{
      
       margin: 5px 5px;

        text-decoration: none;
        color: rgb(219, 214, 224);
        
     } 
    #Hl a:hover{
       
        text-decoration:none;  
        background-color: rgb(77, 77, 112);
        color: rgb(232, 248, 231);
        border: 3px solid black;
        border-radius: 5px;
     } 
      /*header end */

       /*main start*/
      #main{
        text-align: center;
      }
      #main img{
        height: 50px;
        width: 50px;
        float: right; 
        margin: 0 10px;
         
      }
      #main img:hover{
        transform: rotate(360deg);              
        transition: 3s;
    }
        #mt h2{
            color: blue;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


    
    }
    #mt p{
        font-size: 1.2rem;
        font-style: italic;
    }
 /*main end*/


 

/*dscx start*/

.dsc{
        position: relative;
         text-align: center;
         background-color: rgb(34, 49, 44);
    }
     .dsc h1{
        font-style: italic;
        font-size: 2rem;
          border: 2px solid rgb(33, 1, 41);
          width: 400px;
        border-radius: 10px;
         margin: 0 auto;
     }
     #dta{
   
        border: 2px solid rgb(33, 1, 41);
        width: 300px;
        border-radius: 10px;
        margin: 0 auto;
      }
      table,th,td{
        color: rgba(202, 195, 245, 0.76);   
        border: 1px none  rgb(14, 0, 27);
        font-size: 1.3rem;
        font-weight: bold;
        border-collapse: collapse ;
        background-color: rgba(13, 1, 15, 0.671);
        border-radius: 2px;
        padding: 10px;
      }
      

/*dscx end*/     


/*img start*/
.smimg{
text-align: center;
}
.smimg h2{
    font-style: italic;
    border: 2px solid rgb(33, 1, 41);
    width: 250px;
    border-radius: 10px;
    margin: 30px auto;
    
  }

 .img{
    width: 400px;
    height: 300px;
    margin: 10px 10px;
    border-radius: 15px;
    cursor: copy;
}
.ima{
    width: 300px;
    height: 400px;
    margin: 10px 10px;
    border-radius: 15px;
    cursor: copy;
}
 

/*img end*/


/*Card satrt*/
#mn{


  display: flex;
  flex-direction: row;
  
  width: 900px;
  margin: 0 auto;

}

#nm {
  font-style: italic;
  border: 2px solid rgb(33, 1, 41);
  width: 450px;
  border-radius: 10px;
  margin: 15px auto;
  margin-top: 30px;

}


.crd{ 
  position: relative;
  width: 280px;
  background-color: blueviolet;
  border: 3px solid rgb(28, 1, 41);
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}
.crd:hover{
  box-shadow: 6px 7px 5px rgb(23, 3, 41) ;
}

.crd h1{
  background-color: rgb(129, 107, 79);
 font-style: italic;
}
.crd img{
  
  height: 90px;
  width: 90px;
  border-radius: 50px;
  border: 4px solid rgb(23, 7, 37);
  margin: 0 auto;
}
.crd p{
  font-style: italic;
  font-size: 1.2rem;
  padding: 10px;
  text-align: justify;
}
.crd h3{
  background-color: rgb(129, 107, 79);
 font-style: italic;
}

   /*Card end*/  
   

   /* about start*/
   
   .abt{
    position: relative;
    background-color: rgb(16, 96, 103);
    text-align: center;
  }
  .abt h1{
    text-align: center;
    font-style: italic;
    text-decoration: underline;
  }
  .abt img{
    height: 100px;
    width: 100px;
    border: 2px dotted rgb(25, 0, 48);
    border-radius: 100px;
  }
   
   #b p{
        
       font-style: italic;
       font-weight: bold;
       font-size: 1.2rem;
       text-align:  right;
      
   }
   
   #b p a{
    text-decoration: none;
    color: rgb(170, 102, 165);
    font-style: normal;
    font-size: 1.2rem;
   }
   

 /* about endt*/
 /* cmnt start*/

.cmnt{
  text-align: center;
   background-color: darkslategrey;
}
 

.txtem{
 font-size: 1rem;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-weight: bolder;
 font-style: italic;
 width: 300px;
 height: 60px;
 border: 4px solid rgb(96, 0, 116);
 border-radius: 9px;
   
}
.txtem:focus{
  border: 4px solid rgb(197, 0, 237);
  width: 350px;

}

#textarea{

  width: 400px;
  height: 150px;
  border: 4px solid rgb(96, 0, 116);
  border-radius: 9px;
    font-weight: bold;
    font-style: italic;
    font-size: 1.3rem;
}

#sbmt{
 
  height: 40px;
  width: 90px;
   border-radius: 7px;
   font-size: 1.2rem;
   font-style: italic;
   background-color: rgb(200, 48, 230);
   color: black;
  }

#sbmt:focus{
  height: 40px;
  width: 90px;
   border-radius: 7px;
   font-size: 1.2rem;
   font-style: italic;
   background-color: rgb(75, 3, 68);
   color: wheat;
}

/* cmnt end*/



/* footer start */

.ftr{
  height: 100px;
  background-color: black;
  text-align: center;
}
.l{
  background-color:black ;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  margin-left: 15px;
  color: rgb(0, 246, 222);

}

.l:focus{

color: rgb(185, 50, 145);
}

#txf{
  color: rgb(224, 221, 255);
  font-size: 1.2rem;
  font-weight: lighter;
 }


/* footer end */



}